#the-body {
	background-image: url('../images/wave-bg.JPG');
}

/*span.class {
	float: left;
}*/





#footer {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid white;
	margin-top: 20px;
}

