body#the-body {
	background-image: url('../images/wave-bg.JPG');
}

span.class {
	float: left;
}



/* make sure this is working once you begin to fill
the page up
footer.footer {
	border-top: 2px black;
}
*/
